  <!-- Content End Tag -->

</div>
<!-- FOOTER -->

 <footer class="w3-center w3-black w3-padding-16 w3-display-bottom w3-margin-top" id="footerfoot">
   <p>Powered by Thryve&trade; Inc. </p>
 </footer>

 <!-- Scripts -->
 <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }
    
    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
</script>
              
</body>
</html>
    