<!DOCTYPE html>
<html>
    <head>
        <title>Thryve</title>
        <link rel="stylesheet" href="/stylesheets/w3.css">
        <link rel="stylesheet" href="/stylesheets/sheet1.css">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Dancing+Script:wght@700&family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/af0aa841da.js"></script>
    </head>
<body>


<%- include("nav") %>

